.title {
	color: #FF9533;
	display: block;
	font: 1.4em Lucida Grande, arial, verdana, san-serif;
	padding-bottom: .8em;
}
.mapText {
	color: #000000 !important;
}
.subtitle {
	color: #f2f2f2;
	display: block;
	font: normal 1.1em Lucida Grande, arial, verdana, san-serif;
}
.heading {
	display: block;
	color: #f2f2f2;
	font-size: 1.3em;
	line-height: 1.5em;
	padding-bottom: 1em;
}
.fltrt {
	float: right;
}
.fltlft {
	float: left;
}
.block {
	display: block;
}
.options {
	display: block;
	color: #f2f2f2;
	font: normal .8em Lucida Grande, arial, verdana, san-serif;
}
#topicActions {
	display: block;
	height: 40px;
}
#topicActions a {
	margin-bottom: 1em;
}
.goLeft {
	float: left;
	text-align: center;
	position: relative;
}

.goRight {
	float: right;
	text-align: center;
	position: relative;
}

.goCenter {
	float: center;
	text-align: center;
	position: relative;
}
a,
a:link,
a:visited
{
	color: #2175B1;
	font-weight: bold;
	text-decoration: none;
	cursor: hand;
	cursor: pointer;
}
a:hover {
	color: #2175B1;
	font-weight: bold;
	text-decoration: underline;
	cursor: hand;
	cursor: pointer;
}
/* new clearfix */
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */
.hidden {
	display: none;
}
html, body{
	height: 100%;
}
body {
	font-family: Lucida Grande, verdana, arial, sans-serif;
	color: #f2f2f2;
	font-weight: normal;
	font-size: .7em;
	background-color: #022432;
}
#header {
	height: 20px;
	width: 726px;
	z-index: 2000;
	margin: 0 auto;
	margin-bottom: 12px;
	padding: 16px 12px 0 12px;
	border-bottom: 1px dotted #666;
}
		#header_logo {
			float: left;
			z-index: 1000;
			clear: left;
		}
		#header_usernav {
			float: right;
			width: 600px;
			color: #ffffff;
			white-space: nowrap;
			list-style-type: none;
		}
			#header_usernav li {
				display: inline;
				padding-left: 2em;
				/*background: -webkit-gradient(
				    linear,
				    left bottom,
				    left top,
				    color-stop(0, rgb(2,36,50)),
				    color-stop(0.66, rgb(0,0,0))
				);*/
				float: right;
			}
			#header_usernav li a,
			#header_usernav li a:link,
			#header_usernav li a:visited
			{
				color: #2175B1;
				font-weight: bold;
				text-decoration: none;
				cursor: hand;
				cursor: pointer;
			}
			#header_usernav li a:hover {
				color: #2175B1;
				font-weight: bold;
				text-decoration: underline;
				cursor: hand;
				cursor: pointer;
			}
#wrap {
	min-height: 100%;
	width: 750px;
	margin: 0 auto;
}
#main {
	padding-bottom: 150px;
	overflow: hidden;
}
#contentRight {
	float: right;
	width: 243px;
	padding: 0 0 12px 6px;
	clear: left;
}
	#contentRightBody {
		padding: 12px;
		background: -webkit-gradient(
		    linear,
		    left bottom,
		    left top,
		    from(rgb(2,36,50)),
		    to(rgba(0,0,0,0.5))
		);
		background: -moz-linear-gradient(
				    center bottom,
				    rgba(2,36,50,1) 0%,
				    rgba(0,0,0,0.5) 100%
				);
		border-radius: 5px 5px 5px 5px;
		-moz-border-radius: 5px 5px 5px 5px;
		-webkit-border-radius: 5px 5px 5px 5px;
	}
	.map_contextRight {
		width: 360px;
	}
	#map_canvasContainerRight {
		width: 360px;
		height: 203px;
	}
	.map_contextLeft {
		width: 469px;
	}
	#map_canvasContentBottom {
		width: 726px;
		height: 204px;
		margin-bottom: 24px;
	}
	#map_canvasContainerLeft {
		width: 469px;
		height: 264px;
	}
	#map_canvasContainerMain {
		width: 726px;
		height: 204px;
	}
		#map_canvas {
			clear:both;
			width: 100%;
			height: 100%;
		}
	#searchContext {
		height: 50px;
		width: 100%;
		padding: 24px 0;
	}
		#search {
			padding: 0 0 10px 0;
		}
		.element {
			float: left;
			margin-right: 0.5em;
		}
		#search label {
			padding: 0 0 4px 0;
}
		.label {
			white-space: nowrap;
			margin: 0 1em 0 0;
		}
		.mainSearchInput {
			//display: block;
			//margin-right: 1em;			
		}
		#mainSearchQuery {
			padding: 0.1em 0;
			width: 15em;
			font-size: 1em;
		}
		#mainSearchLocation {
			padding: 0.1em 0;
			width: 8em;
			font-size: 1em;

		}
		.submit {
			display: block;
			padding-top: 1.5em;
		}
		.submitBtn {
			color: #f2f2f2;
			background-color: #D22A2C;
			background-position: 0% 0%;
			background-repeat: no-repeat;
			border: 1px solid #666;
			margin-top: 2px;
			padding:  0.15em 0.5em;
			font-size: 1em;
		}
		.rsvpBtn {
			color: #f2f2f2 !important;
			font-size: 1.2em;
			font-weight: bold;
			display: block;
			padding: 4px 6px;
			background-image: -webkit-gradient(linear, 0% 100%, 0% 0%, from(#A8252E), to(#CA3E47));
			background-image: -moz-linear-gradient(center top , #CA3E47, #A8252E);
			width: 80px;
			text-align: center;
			text-decoration: none !important;
			border: 1px solid #A8252E;
			border-radius: 3px;
			-moz-border-radius: 3px;
			-webkit-border-radius: 3px;
		}
		.inBtn {
			color: #f2f2f2 !important;
			font-size: 1.2em;
			font-weight: bold;
			display: block;
			padding: 4px 6px;
			background-image: -webkit-gradient(linear, 0% 100%, 0% 0%, from(#1A8C78), to(#1ABE78));
			background-image: -moz-linear-gradient(center top , #CA3E47, #A8252E);
			width: 80px;
			text-align: center;
			text-decoration: none !important;
			border: 1px solid #1A6E78;
			border-radius: 3px;
			-moz-border-radius: 3px;
			-webkit-border-radius: 3px;
		}
		.notifyStartBtn {
			color: #f2f2f2 !important;
			font-size: 1.2em;
			font-weight: bold;
			display: block;
			padding: 4px 6px;
			background-image: -webkit-gradient(linear, 0% 100%, 0% 0%, from(#A8252E), to(#CA3E47));
			background-image: -moz-linear-gradient(center top , #CA3E47, #A8252E);
			width: 215px;
			text-align: center;
			text-decoration: none !important;
			border: 2px solid #A8252E;
			border-radius: 5px;
			-moz-border-radius: 5px;
			-webkit-border-radius: 5px;
		}
		.notifyCancelBtn {
			color: #f2f2f2 !important;
			font-size: 1.2em;
			font-weight: bold;
			display: block;
			padding: 4px 6px;
			background-image: -webkit-gradient(linear, 0% 100%, 0% 0%, from(#1A8C78), to(#1ABE78));
			background-image: -moz-linear-gradient(center top , #CA3E47, #A8252E);
			width: 215px;
			text-align: center;
			text-decoration: none !important;
			border: 2px solid #1A6E78;
			border-radius: 5px;
			-moz-border-radius: 5px;
			-webkit-border-radius: 5px;
		}
		.btnRedX {
			color: #f2f2f2 !important;
			font-size: 1em;
			font-weight: normal;
			padding: 1.5px 2px 0.5px 1.5px;
			background-image: -webkit-gradient(linear, 0% 100%, 0% 0%, from(#A8252E), to(#CA3E47));
			background-image: -moz-linear-gradient(center top , #CA3E47, #A8252E);
			width: 1em;
			text-align: center;
			text-decoration: none !important;
			border: 1px solid #A8252E;
			*border-radius: 3px;
						-moz-border-radius: 3px;
						-webkit-border-radius: 3px;
		}
		#mn_geoListContext {
			
		}
		#mn_geoListHeader {
			
		}
			.listTitle {
				font-size: 1.2em;
				color: #FF9533;
				font-weight: normal;
				line-height: 2.2em;
			}
		#mn_geoListBody {
			border-bottom: 1px dotted #666;
		}
		a.mn_geoListItem_link {
			display: block;
			text-decoration: none;
			font-weight: normal;
		}
		.mn_geoListItem {
			display: block;
			//width: 344px;
			height: 36px;
			border-top: 1px dotted #666;
			-moz-border-top: 1px solid #666;
			-webkit-border-top: 1px solid #666;
			padding: 8px 8px;
			color: #f2f2f2;
		}
		.mn_geoListItem:hover {
			//background: #D18D3A;
			/*background: -webkit-gradient(
						    linear,
						    left bottom,
						    right bottom,
						    color-stop(0, rgba(33,117,177,1)),
						    color-stop(0.03, rgba(33,117,177,0)),
						    color-stop(0.97, rgba(33,117,177,0)),
						    color-stop(1, rgba(33,117,177,1))
						);*/
			background: -webkit-gradient(
						    linear,
						    left bottom,
						    right bottom,
						    color-stop(0, rgba(33,117,177,1)),
						    color-stop(0.03, rgba(33,117,177,0))
						);
			/*background: -moz-linear-gradient(
						    left center,
						    rgba(33,117,177,1) 0%,
						    rgba(33,117,177,0) 3%,
						    rgba(33,117,177,0) 97%,
						    rgba(33,117,177,1) 100%
						);*/
			background: -moz-linear-gradient(
			    left center,
			    rgba(33,117,177,1) 0%,
			    rgba(33,117,177,0) 3%
			);
		}
		.when {
			padding-top: 2px;
			display: block;
			float:left;
			text-align: right;
			width: 90px;
			font-size: 14px;
		}
			.mn_geoListItem_date {
				display: block;
				padding-bottom: 4px;
				letter-spacing: -0.5px;
			}
			.mn_geoListItem_time {
				display: block;
				font-size: 12px;
			}
		.details {
			display: block;
			//width: 224px;
			margin-left: 102px;
			padding-left: 12px;
			padding-top: 2px;
			border-left: 1px dotted #333;
		}
			.mn_geoListItem_title {
				display: block;
				width: 100%;
				font-size: 14px;
				font-weight: bold;
				padding-bottom: 4px;
			}
			.mn_geoListItem_topic {
				text-align: right;
				float: right;
				display: block;
				font-size: 12px;
			}
	
			.loc {
				display: block;
				font-size: 12px;
				width: 100%;
			}
		#mn_geoListFooter {
			height: 24px;
		}
		#searchResultsNav{
			height: 100%;
		}
		#mn_geoListFooter a,
		#mn_geoListFooter a:link,
		#mn_geoListFooter a:visited,
		#mn_geoListFooter a:hover {
			color: #f2f2f2;
			font-weight: bold;
			text-decoration: none;
			cursor: hand;
			cursor: pointer;
		}
		#mn_geoListFooter a:hover {
			color: #2175B1;
		}
			.showAll {
				display: block;
			}
			.paginationNav {
				height: 100%;
				padding: 10px 8px 0 8px;
				display: block;
				float: right;
			}
				.nextPage {
					padding-left: 12px;
				}
				.prevPage {
				}

#eventBoxBottom {
	position: relative;
	
}
#ticker {
	position: relative;
	height: 85px;
	margin-bottom: 36px;
	overflow: hidden;
	
}
	.tickerContext {
	//overflow:hidden;
	height: 85px;
	//border-bottom: 2px solid #011219;
}
	.tickerContentBox {
		color: #f2f2f2;
		font-size: .75em;
		float: left;
		//background: #022432;
		background: -webkit-gradient(
		    linear,
		    left bottom,
		    left top,
		    from(rgba(0,0,0,0.5)),
		    to(rgb(2,36,50))
		);
		background: -moz-linear-gradient(
				    center bottom,
				    rgba(2,36,50,1) 0%,
				    rgba(0,0,0,0.5) 100%
				);
		height: 69px;
		width: 218px;
		-moz-border-top-left-radius: 5px;
		-moz-border-top-right-radius: 5px;
		-webkit-border-top-left-radius: 5px;
		-webkit-border-top-right-radius: 5px;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
		//border-style:solid;
		//border-color:#FFFFFF;
		//border-width: 1px;
		margin: 0 4px;
		padding: 8px 8px;
		font-size: 1em;
		line-height: 1.4em;
		overflow:hidden;
	}
.tickerMember {
	color: #FF9533;
	font-style: italic;
}
.tickerTime {
	font-size: 0.8em;
	color: #235468;
	font-style: italic;
}
#contentLeft {

	float: left;
	clear: left;
	width: 493px;
	padding: 0 6px 12px 0;
}
	#contentLeftBody {
		padding: 12px;
		background: -webkit-gradient(
		    linear,
		    left bottom,
		    left top,
		    from(rgb(2,36,50)),
		    to(rgba(0,0,0,0.5))
		);
		background: -moz-linear-gradient(
				    center bottom,
				    rgba(2,36,50,1) 0%,
				    rgba(0,0,0,0.5) 100%
				);
		border-radius: 5px 5px 5px 5px;
		-moz-border-radius: 5px 5px 5px 5px;
		-webkit-border-radius: 5px 5px 5px 5px;
	}
	#actionDesc {
		//width: 320px;
	}
	#action {
		position: relative;
		margin-bottom: 12px;
	}
	.btn_main {
		color: #fff !important;
		font-size: 1.2em;
		font-weight: bold;
		text-decoration: none !important;
		display: block;
		padding: 4px 6px;
		background-image: -webkit-gradient(linear, 0% 100%, 0% 0%, from(#A8252E), to(#CA3E47));
		background-image: -moz-linear-gradient(center top , #CA3E47, #A8252E);
		width: 130px;
		text-align: center;
		border: 2px solid #A8252E;
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
	}
	.createEvBtn {
		color: #fff !important;
		font-size: 1.2em;
		font-weight: bold;
		text-decoration: none !important;
		display: block;
		padding: 4px 6px;
		background-image: -webkit-gradient(linear, 0% 100%, 0% 0%, from(#A8252E), to(#CA3E47));
		background-image: -moz-linear-gradient(center top , #CA3E47, #A8252E);
		width: 100px;
		text-align: center;
		border: 2px solid #A8252E;
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		margin: 0 auto;
	}
	#action span {
		//margin-bottom: 1em;
	}
	#action a {
		text-decoration: none;
	}
	#actionBtns {
		height: 28px;
		//margin-bottom: 12px;
	}
/*#contentLeft a:link,
#contentLeft a:visited,
#contentLeft a:hover {
	color: #fff;
}*/
#activityFeedContext {
	width: 540px;
	padding: 12px;
	background: -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    from(rgb(2,36,50)),
	    to(rgba(0,0,0,0.5))
	);
	background: -moz-linear-gradient(
			    center bottom,
			    rgb(2,36,50) 0%,
			    rgba(0,0,0,0.5) 100%
			);

	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
}
	#activityFeed {
		border-bottom: 1px dotted #666;
	}
	.activityFeedItem {
		height: 40px;
		color: #f2f2f2;
		padding: 6px 8px;
		font-size: 1.2em;
		border-top: 1px dotted #666;
		-moz-border-top: 1px solid #666;
		-webkit-border-top: 1px solid #666;
	}
#footer {
	//background-color: rgb(2,36,50);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#022432), to(#000000), color-stop(.1,#022432));
	background: -moz-linear-gradient(
			    center top,
			    rgba(2,36,50,1) 0%,
			    rgba(0,0,0,0.5) 100%
			);
	position: relative;
	width: 100%;
	height:78px;   /* Height of the footer */
	margin-top: -150px;
	color: #E7E7E7;
	padding: 48px 0 48px;
}
#footerBody {
	border-top: 1px dotted #666;
	width: 726px;
	margin: 0 auto;
	padding: 24px 12px 0;
}
#footerRow {
}
#footerSection {
	border-right: 1px solid #ccc;
	float: left;
	margin-right: 1.75em;
	padding-right: 1.7em;
}
#footer a:link,
#footer a:visited,
#footer a:hover {
	color: #fff;
}
#footer ul li {
	//padding: 0 0 .5em;
}
#commentFeedContext {
	//padding-top: 24px;
	//width: 540px;
}
#ctDetails {
	width: 435px;
	height: 100 px;
	padding-top: 12px;
}
#ctWhen {
	float:left;
	width: 150px;
}
#ctLoc {
	width: 261px;
	margin-left: 162px;
	padding-left: 12px;
}

/*** EventPage.jsp ***/

#eventInfo {
	width: 100%;
	padding: 0 0 12px 0;
}
.eventInfo_title {
	display: inline-block;
	font-size: 2em;
	padding-bottom: 0.2em;
}
.eventInfo_group {
	font-size: 1.4em;
	font-weight: bold;
	color: #666;
}
.eventInfo_block {
	//padding-top: 24px;
}
	.eventInfo_label {
		display: block;
		padding-bottom: 0.4em;
		color: #f2f2f2;
		font-size: 1.3em;
	}
	.eventInfo_text {
		display: block;
		color: #f2f2f2;
		font-size: 1.3em;
		font-weight: bold;
	}
	.eventInfo_desc {
		display: block;
		color: #f2f2f2;
		font-size: 1.2em;
		padding-bottom: 1.6em;
	}
	ul#attendeesList li {
		padding: 0.5em 0;
		font-size: 1.2em;
	}
.leftBlockFullWidth {
	width: 540px;
	padding-top: 24px;
}
.commentHeadBlock {
	//width: 540px;
	padding-bottom: 0.5em;
	padding-left: 8px;
}
#commentInputContext {
	//width: 540px;
	padding-bottom: 12px;
	margin-left: 8px;
}
.toggle {
	display: block;
}
.input {
	padding: 4px 6px;
	font-size: 1.2em;
}
.textarea {
	display: block;
	padding: 4px 6px;
	width: 400px;
	height: 6em;
	margin-bottom: .5em;
}
.submitCommentBtn {
	position: relative;
	color: #f2f2f2;
	font-weight: bold;
	font-size: 1.2em;
	background-color: #D22A2C;
	background-position: 0% 0%;
	background-repeat: no-repeat;
	border: 1px solid #666;
	height: 2em;
	width: 6em;
}
.commentFeedItem {
		height: auto;
		color: #f2f2f2;
		padding: 8px 8px;
		//font-size: 1.2em;
		border-top: 1px dotted #666;
		-moz-border-top: 1px dotted #666;
		-webkit-border-top: 1px dotted #666;
	}
.comment_body {
	display: block;
	font-size: 1.1em;
	line-height: 1.5em;
}
.comment_author {
	color: #1ABE78;
	font-weight: bold;
}
.comment_text {
	color: #f2f2f2;
	margin-left: 0.5em;
}
.comment_time {
	position: relative;
	display: block;
	padding-top: 4px;
	font-size: 0.8em;
	color: #235468;
	width: 100%;
	text-align: left;
}
#contentTop {
	width: 750px;
	//height: 174px;
	margin-top: 12px;
	overflow: hidden;
}
#contentTopBody {
	width: 726px;
	//height: 150px;
	padding: 12px;
	background: -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    from(rgb(2,36,50)),
	    to(rgba(0,0,0,0.5))
	);
	background: -moz-linear-gradient(
			    center bottom,
			    rgba(2,36,50,1) 0%,
			    rgba(0,0,0,0.5) 100%
			);
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
}
#contentBottom {
	margin-top:12px;
	width: 750px;
	//padding: 24px 0 0;
}
#contentBottomPad {
	padding: 0 12px;
}
#contentBottomBody {
	width: 726px;
	padding: 12px;
	background: -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    from(rgb(2,36,50)),
	    to(rgba(0,0,0,0.5))
	);
	background: -moz-linear-gradient(
			    center bottom,
			    rgba(2,36,50,1) 0%,
			    rgba(0,0,0,0.5) 100%
			);
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
}
#ctMap {
	display: block;
	float: left;
	height: 150px;
	width: 150px;
}
#ctInfo {
	display: block;
	margin-left: 150px;
	padding-left: 12px;
	width: 774px;
	height: 150px;
}
#ctRsvp {
	float: right;
}
#contentTopMiddle {
	padding-left: 12px;
}
/*** EventPage.jsp ***/

/*** Register Modal Window ***/

#mask {
	position: absolute;
	z-index: 9000;
	background-color: rgba(0,0,0,0.8);
	display: none;
	top: 0;
	left: 0;
}
#modal_register {
	position: absolute;  
	width: 400px;  
	height: 550px;  
	display: none;  
	z-index: 9999;  
	//background-color: white;
}
#modal_login {
	position: absolute;  
	width: 400px;  
	height: 550px;  
	display: none;  
	z-index: 9999;  
	//background-color: white;
}
.modalRounded {
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
}

/*** Register Modal Window ***/

/*** General Form Styling ***/

fieldset {   
	margin: 1.5em 0 0 0;  
}
legend {   
	margin-left: 1em;   
	color: #f2f2f2;   
	font-weight: bold;
	font-size: 1.1em; 
}  
fieldset ul {   
	padding: 1em 1em 0.8em 1em;   
	list-style: none;
	border-bottom: 1px dotted #666;
}  
fieldset li {   
	padding-bottom: 1em;
}  
fieldset.submit {   
	border-style: none;  
}
label {
	display: block;
	padding-bottom: 0.5em;
	color:  #f2f2f2;
}

/*** General Form Styling ***/

/*** Create Event Form Styling ***/

#form_createEvent label {
	font-size: 1.2em;
}
#form_createEvent input {
	padding: 2px 4px;
	font-size: 1em;
	margin-bottom: 1.8em;
}
#form_createEvent label[for="radio1"],
#form_createEvent label[for="radio2"] {
	font-size: 1em;
}
#form_createEvent #amount {
	margin-bottom: 1em;
	margin-left: 1em;
	font-size: 1.4em;
	background-color: #01151D;
}
#form_createEvent select {
	margin-bottom: 1.8em;
}
#form_createEvent #title {
	width: 16em;
	margin-bottom: 0.8em;
}
#form_createEvent #venue,
#form_createEvent #address {
	width: 16em;
}
#form_createEvent #address {
	float:left;
}
li #desc {
	padding: 2px 4px;
	width: 281px;
	height: 265px;
}
li label[for="desc"] {
	font-size: 1.2em;
}
#form_createEvent #slider {
	margin-bottom: 1.8em;
	width: 400px;
}
#form_createEvent #out {
	float:left;
	padding-left: 0.6em;
}
.createBtn {
	color: #f2f2f2 !important;
	cursor: pointer;
	font-size: 1.2em;
	font-weight: bold;
	display: block;
	padding: 4px 6px;
	background-image: -webkit-gradient(linear, 0% 100%, 0% 0%, from(#A8252E), to(#CA3E47));
	background-image: -moz-linear-gradient(center top , #CA3E47, #A8252E);
	width: 80px;
	text-align: center;
	text-decoration: none !important;
	border: 1px solid #A8252E;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
/*** Create Event Form Styling ***/

/*** Suggest Topic Form Styling ***/

form#suggestTopic ul{
	border: none;
	padding: 0 0 1em 0;
}
form#suggestTopic label {
	font-size: 1.2em;
}
#suggestTopicName,
#suggestTopicDesc,
#suggestTopicKeywords {
	padding: 2px 4px;
	font-size: 1em;
	margin-bottom: 1em;
	width: 20em;
}
#suggestTopicDesc {
	width: 30em;
	height: 10em;
}
#suggestTopicKeywords{
	width: 30em;
	height: 6em;
}

/*** Suggest Topic Form Styling ***/

/*** User Preferences Form Styling ***/

input#upZip {
	width: 6em;
}
input#upSearchDistance {
	width: 6em;
}
input#upNotificationEmail {
	width: 16em;
}
.topicSubItem_name {
	font-size: 1.2em;
}
.topicSubItem_remove {
	padding-left: 4px;
}

/*** User Preferences Form Styling ***/

/*** Topic Search ***/

input#topicSearchQuery {
	width: 400px;
	padding: 4px 6px;
	margin-right: 4px;
	font-size: 1.4em;
	float: left;
}
.topicSearchBtn {
	color: #f2f2f2;
	background-color: #D22A2C;
	background-position: 0% 0%;
	background-repeat: no-repeat;
	border: 1px solid #666;
	font-size: 1.4em;
	width: 120px;
	padding:  5px 6px;
}
#tsStatusMsg {
	display: block;
	padding: 1em 0 2.6em 0;
	font-size: 1.2em;
}
.tsItem_title {
	display: block;
	font-size: 1.3em;
	padding: 0 0 0.3em 0;
}
.tsItem_desc {
	display: block;
	color: #f2f2f2;
	font-size: 1.2em;
	line-height: 1.4em;
	padding-right: 24px;
}

/*** Topic Search ***/

/*** Mobile ***/

#mobileBody {
	background: -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(0, rgb(0,0,0)),
	    color-stop(0.66, rgb(2,36,50))
	);
	background: -moz-linear-gradient(
	    center bottom,
	    rgb(0,0,0) 0%,
	    rgb(2,36,50) 66%
	);
	font-family: Lucida Grande, verdana, arial, sans-serif;
	color: #f2f2f2;
	font-weight: normal;
	font-size: .7em;
}
#mobileContent {
	width: 320px;
	margin: 0 auto;
}
#mobileSuccess {
	display: block;
	width: 320px;
	margin: 0 auto;
	text-align: center;
	font-size: 2em;
	padding-top: 220px;
}

/*** Mobile ***/

/*#topicSelect {
	padding: 0.4em 1em;
	//border: 1px solid #cccccc;
	background: #f6f6f6 url(css/ui-lightness/images/ui-bg_glass_100_f6f6f6_1x400.png) 50% 50% repeat-x transparent;
	color: #1C94C4;
	font-weight: bold;
	font-family: 'Trebuchet MS', Tahoma, Verdana, Arial, sans-serif;
	font-size: 1.1em;
}*/
.mainListActions {
	margin: 24px 0 0;
	padding-bottom: 12px;
}
.mlaText {
	font-size: 1.1em;
	font-weight: bold;
	color: #f2f2f2;
	padding-right: 12px;
}
.statsBody {
	color: #f2f2f2;
	font-size: 1.1em;
}
.statItem {
	display: block;
	padding-bottom: 0.5em;
	line-height: 1.4emem;
}
.statNum {
	color: #FF9533 !important;
}
#sortMain {
	//padding-top: 10px;
}
.timeline-event-label {
	color: #000;
}
.simileAjax-bubble-contentContainer {
	color: #000;
}