html, body{
	width: 100%;
	height: 100%;
}
body {
	background: #fff;
	font-family: verdana, arial, sans-serif;
	color: #272727;
	font-weight: normal;
	font-size: .7em;
}
.linked,
a,
a:link,
a:visited,
a:hover {
	color: #2175B1;
	text-decoration: none;
	cursor: hand;
	cursor: pointer;
}
.linked:hover,
a:hover {
	text-decoration: underline;
}
img{
	border: none;
}
.title {
	display: block;
	font: normal bold 1.4em/1.8em helvetica, arial, verdana, san-serif;
}
.subtitle{
	display: block;
	font: normal bold 1.2em/1.6em helvetica, arial, verdana, san-serif;
}
#mew_header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	background: white;
	height: 36px;
	border-bottom: 2px solid #888888;
}
	#mew_headerBody{
		position: relative;
		height: 100%;
		width:960px;
		margin:0 auto;
	}
		#mew_logo{
			position: absolute;
			top: 6px;
			left: 0;
			z-index: 1000;
		}
		#mew_userNav {
			float: right;
			clear: left;
			text-align: right;
			margin-top: 1em;
		}
#mn_page {
	margin-top: 36px;
	background: #F2F2F2;
}
	#mn_pageBody {
		width:960px;
		margin: 0 auto;
		padding-top:24px;
		min-height: 200px;
	}
		#mn_context {
			position:relative;
			width:100%;
		}
			#mn_document {
			
			}
				#mn_box {
					
				}
					.d_box {
						margin-bottom: 1em;
						background: white;
						border-radius: 5px;
						-moz-border-radius: 5px;
						-webkit-border-radius: 5px;
						position: relative;
						padding: 1px 0 0;
					}
						.d_boxBody {
							background: #6191C7;
							position:relative;
							z-index: 1;
							margin: 0 !important;
							padding: 0 !important;
							border-radius: 5px;
							-moz-border-radius: 5px;
							-webkit-border-radius: 5px;
						}
							#mn_page .d_box .d_boxHead, 
							#mn_page .d_box .d_boxSection {
								line-height: 18px;
								padding: 12px;
							}
							.d_boxHead {
								font-size: 1em;
							}
							.d_boxSection {
								
							}
							#d_boxContent {
								background-color: #F9F8EE;
								border-radius: 5px;
								-moz-border-radius: 5px;
								-webkit-border-radius: 5px;
								/*overflow: hidden;*/
								/*padding: 12px;*/
							}
							#d_boxContentLeft {
								position: relative;
								width: 600px;
								padding: 12px;
								/*overflow: hidden;*/
							}
								.map_context {
									/*position: relative;*/
									/*float: left;*/
									width: 600px;
									margin-bottom: 12px;
								}
									#map_canvasContainer {
										width: 600px;
										height: 300px;
									}
										#map_canvas {
											width: 100%;
											height: 100%;
										}
							#d_boxContentRight {
								position: relative;
								float: right;
								width: 288px;
								height: 100%;
								padding: 12px;
								background-color: #E6E4D7;
								border-left: 1px solid #CCC;
								border-radius: 0 5px 5px 0;
								-moz-border-radius: 0 5px 5px 0;
								-webkit-border-radius: 0 5px 5px 0;
	
							}
								#mn_description {
									position: relative;
									float: right;
									margin-top: 2.5em;
									height: 276px;
								}
#mn_eventDescription {
										position: relative;
									float: right;
									margin-top: 2.5em;
									height: auto;
}
.button_start {
	color: #fff;
	font-size: 1.6em;
	font-weight: bold;
	display: block;
	padding: 8px 10px;
	background-image: -webkit-gradient(linear, 0% 100%, 0% 0%, from(#A8252E), to(#CA3E47));
	background-image: -moz-linear-gradient(center top , #CA3E47, #A8252E);
	width: 200px;
	text-align: center;
	border: 2px solid #A8252E;
									border-radius: 5px;
								-moz-border-radius: 5px;
								-webkit-border-radius: 5px;
}
								#mn_geoListContext {
									width: 598px;
									border-radius: 2px;
									-moz-border-radius: 2px;
									-webkit-border-radius: 5px;
									/*padding: 12px;*/
									border: 1px solid #ccc;
								}
								#mn_geoListHeader {
									position: relative;
								
								}
a.mn_geoListItem_link {
	display: block;
	text-decoration: none;
}
.mn_geoListItem {
	display: block;
	width: 582px;
	height: 30px;
	border-top: 1px solid #CCC;
	-moz-border-top: 1px solid #CCC;
	-webkit-border-top: 1px solid #CCC;
	padding: 6px 8px;
}
.mn_geoListItem:hover {
	background: #D18D3A;
}
