
.MEETUP_WIDGET{

		background: #1a1a1a;
		-moz-border-radius: 4px;
		-webkit-border-radius: 4px;
		border-radius: 4px;
		width: 800px;
		font-family: verdana, sans-serif;
	}
	.MEETUP_WIDGET_body{
		padding: 8px;
	}
	.MEETUP_WIDGET_total a{
		display: block;
		color: #fff;
		text-decoration: none;
	}
	.MEETUP_WIDGET a img{
		border: 0!important;
	}
	.MEETUP_WIDGET_total a img{
		margin: 4px 0;
	}
	.MEETUP_WIDGET_title{
		display: block;
		font-family: arial, sans-serif;
		font-weight: bold;
		letter-spacing: -1px;
		line-height: 1.2em;
	}
	.MEETUP_WIDGET_total .MEETUP_WIDGET_title{
		font-size: 22px;
	}
	.MEETUP_WIDGET_name{
	}
	.MEETUP_WIDGET_logo{
		display: block;
		text-align: left;
	}
	.MEETUP_WIDGET_people{
		font-size: 12px;
		display: block;
	}
	.MEETUP_WIDGET_suffix{
		color: #aaa;
	}
	.MEETUP_WIDGET_nearby .MEETUP_WIDGET_title{
		font-size: 14px;
		color: #aaa;
	}
	.MEETUP_WIDGET_nearby .MEETUP_WIDGET_nearby_list{
		-moz-border-radius: 4px;
		-webkit-border-radius: 4px;
		border-radius: 4px;
		display: block;
		background: #333;
	}
	.MEETUP_WIDGET_nearby .MEETUP_WIDGET_nearby_list a{
		zoom: 1;
		border-top: 1px solid #1a1a1a!important;
		padding: 8px 10px;
		display: block;
		font-size: 12px;
		color: #fff;
		text-decoration: none;
	}
	.MEETUP_WIDGET_nearby .MEETUP_WIDGET_nearby_list a:after{
		content: ".";
		display: block;
		height: 0;
		clear: both;
		visibility: hidden;
	}
	.MEETUP_WIDGET_nearby .MEETUP_WIDGET_nearby_list a:hover{
		background: #a3e4ff;
		color: #3c3633 !important;
	}
	.MEETUP_WIDGET_nearby .MEETUP_WIDGET_nearby_list a{
		padding: 6px 10px;
	}
	.MEETUP_WIDGET_nearby .MEETUP_WIDGET_nearby_list a .MEETUP_WIDGET_all{
		display: block;
		text-align: right;
		display: block;
		font-family: arial, sans-serif;
		font-weight: bold;
		/*		text-transform: lowercase;
		font-variant: small-caps;
		*/		font-size: 11.399999999999999px;
	}
	.MEETUP_WIDGET_bottom_logo{
		margin-top: 8px;
	}
	.MEETUP_WIDGET_nearby a .when{
		display: block;
		float: left;
		width: 4em;
		text-align: right;
	}
	.MEETUP_WIDGET_nearby a .loc{
		margin-left: 4.35em;
		padding-left: .35em;
		border-left: 1px dotted #555;
		display: block;
	}
	.MEETUP_WIDGET_nearby a .loc .city{
		font-weight: bold;
	}
	.MEETUP_WIDGET_nearby a .when .time,	.MEETUP_WIDGET_nearby a .loc .address{
		font-size: 10.2px;
		display: block;
	}
	.MEETUP_WIDGET_go{
		background-color: #ca3e47;
		background-image: -moz-linear-gradient(top, #ca3e47, #a8252e);
		background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #a8252e),color-stop(1, #ca3e47));
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ca3e47', endColorstr='#a8252e');
		border: 2px solid #a8252e;
		-moz-border-radius: 4px 4px 4px 4px;
		-webkit-border-radius: 4px;
		border-radius: 4px 4px 4px 4px;
		text-shadow: black 0px 0px 2px;
		zoom: 1;
		display: inline;
		display: inline-block;
		text-align: center;
		font-weight: bold;
		font-size: 15px;
		margin-left: 2px;
		line-height: .75em;
		color: #fff!important;
		font-family: arial;
		padding: 0px 4px;
		cursor: pointer;
		cursor: hand;
	}
	.MEETUP_WIDGET_map{
		a:link {
text-decoration: none}
		a:visited {
text-decoration: none}
		a:active {
text-decoration: none}
		a:hover {
text-decoration: underline;
 color: red;
}
	}

